* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.wrap {
  margin: 0 auto;
  width: 85%; }

.grid-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.col {
  background-color: red;
  height: 100px;
  margin-bottom: 5px;
  margin-left: 5px; }

.col-1 {
  width: 100%; }

.col-2 {
  width: calc(50% - 5px); }

.col-3 {
  width: calc(33.33% - 5px); }

.col-4 {
  width: calc(25% - 5px); }

.col-5 {
  width: calc(20% - 5px); }

.col-6 {
  width: calc(16.667% - 5px); }

.col-7 {
  width: calc(14.28% - 5px); }

.col-8 {
  width: calc(12.5% - 5px); }

.col-9 {
  width: calc(11.11% - 5px); }

.col-10 {
  width: calc(10% - 5px); }

.col-11 {
  width: calc(9.09% - 5px); }

.col-12 {
  width: calc(8.33% - 5px); }

@media (max-width: 460px) {
  .col {
    width: 100%; } }

#style-guide .colour-box {
  width: 100px;
  height: 100px;
  background: red; }

#style-guide a {
  display: block; }

#loading-image {
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute; }
  #loading-image .wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    -ms-flex-align: center;
    align-items: center; }
    #loading-image .wrap .point {
      background-color: #d0d;
      position: relative;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      height: 20px;
      width: 20px;
      animation: loading 0.7s ease-in-out infinite alternate;
      margin: 0 10px; }
      #loading-image .wrap .point.is--02 {
        animation-delay: 0.46667s;
        background-color: #00d;
        left: calc(50% - $tamanho /2); }
      #loading-image .wrap .point.is--03 {
        animation-delay: 0.7s;
        background-color: #0d0;
        right: 0; }

@keyframes loading {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(50px); } }
