.book-container {
  color: $font;
  width: 265px;
  background: $container-bg;
  padding: 15px;
  position: relative;
  z-index: 0;

  .book-cover {
    text-align: center;
    z-index: 0;
  }

  h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
  }

  p {
    font-size: 0.9rem;
  }

  img {
    width: 188px;
    height: 188px;
  }

  .age-range {
    background-color: #efece9;
    padding: 1.2rem 1.5rem 0.5rem;
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 241px;
    z-index: -1;
  }
}