.styled-select {
  overflow: hidden;
  margin: 32px 0;
}
//this is for the styled arrow in the dropdown

.arrow {
  background: url("../media/dropdown.png") no-repeat 96% 50%;
  width: 100%;
  height: 100%;
}
//the two classes below handle styling the dropdown to be rounded.
.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 120%;
  margin: 0 10px 20px 0;
  height: 50px;
  color: $font;
}

.rounded {
  -webkit-border-radius: 20px;
  background: white;
  -moz-border-radius: 20px;
  border-radius: 50px;
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.75);
  height: 50px;
  width: 295px;
}